<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    This manifest is used for testing only.
    EmptyHiltTestActivity is an EmptyActivity that allows
    to launch fragments in it while using Hilt.
     -->

    <application
        android:icon="@mipmap/ic_launcher"
        tools:node="merge">

        <activity android:name=".EmptyRegularTestActivity" />
        <activity android:name=".EmptyHiltTestActivity" />

    </application>
</manifest>