<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    This manifest is used for testing only.
    EmptyHiltTestActivity is an EmptyActivity that allows
    to launch fragments in it while using Hilt.
     -->

    <application
        android:icon="@mipmap/ic_launcher"
        tools:node="merge">

        <activity android:name=".EmptyRegularTestActivity" />
        <activity android:name=".EmptyHiltTestActivity" />

        <!-- Declare receivers as exported = true for tests only -->
        <receiver
            android:name=".background.BootBroadcastReceiver"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.AlarmBroadcastReceiver"
            android:exported="true"
            android:permission=""
            tools:node="replace">
            <intent-filter>
                <action android:name="ch.epfl.reminday.action.DAILY_BIRTHDAY_CHECK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>