<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.reminday">

    <!--
    This manifest is used for testing only.
    EmptyHiltTestActivity is an EmptyActivity that allows
    to launch fragments in it while using Hilt.
     -->

    <application
        android:icon="@mipmap/ic_launcher"
        tools:node="merge">

        <activity android:name=".EmptyRegularTestActivity" />
        <activity android:name=".EmptyHiltTestActivity" />

<!-- Espresso is buggy as usual, need to set exported attribute to compile for android 12 -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="false"
            tools:node="merge" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false"
            tools:node="merge" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false"
            tools:node="merge" />

    </application>
</manifest>